<h1>About my website ^_^ </h1>
<p>We're working on rails ;)</p>
<p>
    <marquee behavior=alternate style="width:23%">
    I'm mohamed youssef zehani 
    </marquee>    
<br>
    <marquee style=height:20px direction=up behavior=alternate>
    a talented freelancer 
    & I make a lot of artsy stuff 
    </marquee>
</p>
