<div style="position:absolute;top:30px;left:25px;">

        <h1>About my website ^_^ 
        </h1>

        <p>We're working on rails ;)</p>


            <p>
                <marquee scrolldelay="0" behavior=alternate style="width:100%">
                I'm mohamed youssef zehani 
                </marquee>    
        <br>
                <marquee  style="height:25px;position:relative;" scrolldelay="200" direction=up behavior=alternate>
                a talented freelancer 
                & I make a lot of artsy stuff 
                </marquee>
            </p>
</div>



<img src="phone.png" width="  
  34%" height="184" style="position:absolute;left:-5px;top:20px" > 
<div class='' style="position:relative;left:450px;height:300px;overflow-y:auto;border-width:4px;width:200px">
    <marquee  style="height:25px;position:relative;" scrolldelay="50" direction=up behavior=alternate>
                delay  50     <button class="btn btn-secondary" 
        style="height:20px;position:relative;top:0px">
         <font style="position:relative;top:-8px">  +  </font> </button>
        </marquee>
    <marquee  style="height:25px;position:relative;" scrolldelay="100" direction=up behavior=alternate>
            delay 100
    </marquee>  
    <br>

    <marquee  style="height:25px;position:relative;" scrolldelay="200" direction=up behavior=alternate>
            delay 200

    </marquee>
    <br>
    <marquee  style="height:25px;position:relative;" scrolldelay="300" direction=up behavior=alternate>
            delay 300
    </marquee>
    <br>
    <marquee  style="height:25px;position:relative;" scrolldelay="400" direction=up behavior=alternate>
            delay 400
    </marquee>
    <br>
    <marquee  style="height:25px;position:relative;" scrolldelay="500" direction=up behavior=alternate>
            delay 500
    </marquee>
        <marquee  style="height:25px;position:relative;" scrolldelay="1000" direction=up behavior=alternate>
            delay 1000
    </marquee>
    
    
</div>
<!-- Button trigger modal -->
<button style="position:absolute; left:10%;top:210px" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div  class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>